<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>
    <style type="text/css">
        table{
            margin:0 auto;
            width: 800px;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function confirmDel(id) {
            if(window.confirm('确定要删除？')){
                location.href = '?p=Admin&c=Student&a=delete&id=' + id;
            }
        }
    </script>
</head>
<body>
<?php
include VIEW_PUBLIC_PATH . "menu.html";
?>

<div style="text-align: center;margin-bottom: 10px;">
    <h3>学生信息列表</h3>
    <a href="?p=Admin&c=Student&a=add">添加学生</a>
</div>
<table cellpadding="5" cellspacing="0" border="1" rules="all">
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>出生日期</th>
        <th>专业</th>
        <th>电话</th>
        <th>操作</th>
    </tr>
    <?php
    foreach ($arrs as $arr) {
    ?>
    <tr>
        <td><?php echo $arr['no']; ?></td>
        <td><?php echo $arr['name']; ?></td>
        <td><?php echo $arr['sex']; ?></td>
        <td><?php
            if($arr['birthday'])
                echo date('Y-m-d',$arr['birthday']);
            ?></td>
        <td><?php echo $arr['major']; ?></td>
        <td><?php echo $arr['phone']; ?></td>
        <td><a href="?p=Admin&c=Student&a=edit&id=<?php echo $arr['id']; ?>">修改</a>|<a href="#" onclick="confirmDel(<?php echo $arr['id']; ?>)">删除</a></td>
    </tr>
    <?php
    }
    ?>
</table>
</body>
</html>